<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__STYLE__/skin.css" />
    <script src="__JS__/public.js" type="text/javascript"></script>
<script>
function prevent(event) {
	if(window.event) {
		//对于ie
		window.event.returnValue=false;
	} else {
		//对于w3c
		event.preventDefault();
	}
}

window.onload = function(){
	$('btn').onclick = function(event){
		//当username为空时,取消submit的按钮的提交
		if ($('name').value == ''||$('url').value =='') {
			//调用取消函数
			prevent(event);
			alert('栏目名不能为空!');
		}
	}
} 
</script>
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="__IMG__/mail_left_bg.gif">
                    <img src="__IMG__/left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="__IMG__/content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="./__IMG__/content_bg.gif">
                        <tr><td height="31"><div class="title">添加角色</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="__IMG__/mail_right_bg.gif"><img src="__IMG__/nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="__IMG__/mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td width="100" align="center"><img src="__IMG__/mime.gif" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 添加栏目开始 -->
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form action="" method="post">
                                                <table width="100%" class="cont">
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>角色名称：</td>
                                                        <td width="90%"><input class="text" type="text" id='name' name="name" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>选择权限：</td>
                                                     </tr>
                                                  <volist name='top' id='vo'>
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td width="90%">
										<input type="checkbox" class='top' name='ids[]' value="{$vo.au_id}"/>{$vo.au_name}
                                                        	<volist name='sub' id='so'>
                                                        		<eq name='so.au_pid' value='$vo.au_id'>
                                                        			<input type="checkbox" class='sub' name='ids[]' value="{$so.au_id}" />{$so.au_name}
											</eq>
                                                        	</volist>
                                                        </td>
                                                    </tr>
                                                  </volist>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td colspan="3"><input class="btn" id='btn' type="submit" value="提交" /></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 添加栏目结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td background="__IMG__/mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="__IMG__/mail_left_bg.gif">
                    <img src="__IMG__/buttom_left.gif" width="17" height="17" />
                </td>
                <td background="__IMG__/buttom_bgs.gif">
                    <img src="__IMG__/buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" bac	kground="__IMG__/mail_right_bg.gif">
                    <img src="__IMG__/buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
        <script src='__JS__/jquery-1.12.0.min.js'></script>
        <script>
        	$().ready(
        		function (){
        			$('.top').bind('click',function(){
	        			if(this.checked){
	        				$(this).parent().find('.sub').attr("checked",true);
	        				
	        			}else{
	        				
	        				$(this).parent().find('.sub').attr("checked",false);
	        			}
        			});
        	});
        </script>
    </body>
</html>