<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$arts.art_title}</title>
<meta name="keywords" content="{$arts.art_keyword}" />
<meta name="description" content="{$arts.art_description}" />
<link href="__STYLE__/base.css" rel="stylesheet">
<link href="__STYLE__/style.css" rel="stylesheet">
<link href="__STYLE__/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="__JS__/modernizr.js"></script>
<![endif]-->

<script src='__JS__/jquery-1.12.0.min.js'></script>

<script>
$().ready(function() {
	$("#pre").bind("click", function(event) {
		if ($('#pre').text() == '没有文章了!') {
			//取消按钮提交表单的默认行为
			event.preventDefault();
			window.event.returnValue=false;
		}
	})
	
	$("#nex").bind("click", function(event) {
		if ($('#nex').text() == '没有文章了!') {
			//取消按钮提交表单的默认行为
			event.preventDefault();
			window.event.returnValue=false;
		}
	})
	
});

</script>
</head>
<body>

<div class="ibody">
<include file='head' />
  <article>
    <h2 class="about_h">当前位置：{dede:field.position /}</h2>
    <div class="index_about">
      <h2 class="c_titile">{$arts.art_title}</h2>
      <p class="box_c"><span class="d_time">发布时间：{$arts.art_time|date='m.d',###}</span>
      <span>作者：{$arts.art_writer}</span><span>浏览:{$arts.art_click}次</span>
      <span>来源:{$arts.art_source}</span></p>

      <ul class="infos">
       {$arts.art_body}
      </ul>
      <div class="keybq">
        <p><span>关键字词</span>：{$arts.art_keyword}</p>
      </div>

     
      <div class="nextinfo">
        <p>上一篇:<a  id='pre' href='http://www.mynote2.com/index.php/index/art/id/{$prev_id}'>{$prev_title}</a></p>
        <p>下一篇:<a id='nex' href='http://www.mynote2.com/index.php/index/art/id/{$next_id}'>{$next_title}</a></p>
      </div>
    </div>
  </article>

<include file='subaside' />
  <script src="__JS__/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
