<aside>
    <div class="avatar"><a href="http://23.252.105.140/a/about/"><span>关于站长</span></a></div>
    <div class="topspaceinfo">
      <h1>健身改变自己,指尖改变世界</h1>
      <p>我变得更好,才能让身边的人更幸福......</p>
    </div>
    <div class="about_c">
      <p>网名：天启</p>
      <p>职业：求职php程序员ing </p>
      <p>籍贯：湖北省--武汉市</p>
      <p>学历：本科</p>
      <p>邮箱：183692566@qq.com</p>
    </div>
    <div class="tj_news">
      <h2>
        <p class="tj_t1">程序世界</p>
      </h2>
      <ul>
			<volist name='a1' id='a1'>
					<li><a href="http://www.mynote2.com/index.php/index/art/id/{$a1.art_id}">{$a1.art_title}</a></li>
			</volist>
      </ul>
      <h2>
        <p class="tj_t2">健身世界</p>
      </h2>
      <ul>
			<volist name='a2' id='a2'>
					<li><a href="http://www.mynote2.com/index.php/index/art/id/{$a2.art_id}">{$a2.art_title}</a></li>
			</volist>
      </ul>
    </div>
    <div class="links">
      <h2>
        <p>友情链接</p>
      </h2>
      <ul>
	    <li><a href="http://www.imooc.com/">慕课网</a></li>
        <li><a href="http://www.yangqq.com/">杨青个人博客</a></li>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by 天启</a></p>
        <p>备案号</p>
        </p>
      </ul>
    </div>
  </aside>