
	<div class="bloglist">

	    <volist name='arts' id='a'> 
	    <div class="newblog">
        <ul>
          <h3><a href="http://www.mynote2.com/index.php/index/art/id/{$a.art_id}.html">{$a.art_title}</a></h3>
          <div class="autor">作者: <span class='sp'>{$a.art_writer}</span>
		  <span>所属栏目【 <span class='sp'>{$a.pro_name}</span>】</span>
		  <span>浏览 ( <span class='sp'>{$a.art_click}</span>)</span>
		  <span>来源 ( <span class='sp'>{$a.art_source}</span>)</span></div>
          <p>{$a.art_description}<a href="http://www.mynote2.com/index.php/index/art/id/{$a.art_id}.html" class="readmore">阅读全文</a></p>
		  
        </ul>
        <figure><img src="http://www.mynote2.com/uploads/Images/{$a.art_purl}" ></figure>
        <div class="dateview">{$a.art_time|date='m.d号',###}</div>
      </div>
	  <!-- /listbox -->
    </volist>
    </div>
