<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<title>about me</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/css/base.css" rel="stylesheet">
<link href="{dede:global.cfg_templets_skin/}/css/about.css" rel="stylesheet">
<link href="{dede:global.cfg_templets_skin/}/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b2057ff45463393b2df638f007baadbd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="ibody">
{dede:include filename='head.htm' /}
  <article>
    <h3 class="about_h">您现在的位置是：<a href='http://http://23.252.105.140/'>主页</a> > <a href='/a/about/'>个人简介</a> > </h3>
    <div class="about">

	  <div align="center">
	<a href="http://23.252.105.140/uploads/allimg/160214/about.jpg"><img alt="" src="/uploads/allimg/160214/about.jpg" style="width: 50%;" /></a></div>
	      <h2>关于我</h2>
		<p>&nbsp;&nbsp;艾伟,今年33岁,我是个很执着的人,网名天启,这个名字用了16年了,追老婆用了11年,现在结婚4年,幸福美满,我喜欢健身,毕业后学习了健身并成为了一名私人教练,即便后来没有从事这个行业的工作,健身的习惯一直保持至今.</p>
        <p>&nbsp;&nbsp;2015年初,因为一部美剧我迷上了编程,尽管我已经32岁,尽管我现在的工作轻松稳定(机械设计师),尽管我知道这可能是一条很艰难的路,我还想再努力一把,任性一次,我准备要转行当一名程序员!</p>
        <p>&nbsp;&nbsp;需要说明一下的是,我现在没有it方面的实际工作经验,java和php也完全是自学,来源主要是慕课网和淘来的网络资源自学,所以我搭建了自己的博客,用dedecms做了一次,又用tp框架做了一次,来增加自己的实际开发经验.</p>

		<h2>技能</h2>
	  <div align="center">
	<a href="http://23.252.105.140/uploads/allimg/160214/skill.png"><img alt="" src="/uploads/allimg/160214/skill.png" style="width: 80%;" /></a></div>
	<br />
		<br />
<blockquote>

		<h2>工作经验</h2>
		2010-至今 武汉耐特阀门技术部 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;设计工程师<br />
		2007-2010 武汉中体倍力健身俱乐部 &nbsp;&nbsp; &nbsp;私人教练<br />
		<br />
		<h2>学历证书</h2>
		武汉轻工大学 机械设计制造及其自动化 本科<br />
		亚体高级私人教练证书<br />
		国家一级健身指导员证书<br />
		国家高级公共营养师证书<br />
		<br />
		<h2>个人项目</h2>
		1) 个人博客--2次开发<br />
		地址 : <a href="http://23.252.105.140">进入首页</a>&nbsp; (美国服务器连接速度比较慢)<br />
		服务器:centOs6 lamp脚本安装<br />
		开发程序 :php dedecms<br />
		项目代码:<a href="https://github.com/billywl/my_website_by_dede">进入github仓库</a><br />
		模版文件使用响应式开发,适应多种设备访问<br />
		<br />
		2) 微信订阅号 note_php<br />
		开启了开发者模式,绑定到了服务器http://23.252.105.140/上<br />
		个人订阅号无法认证,所以开发者模式无法自定义菜单<br />
		但是通过自学,已经完全掌握了该技术<br />
		<br />
		3) 个人博客--tp框架开发<br />
		地址: 开发中<br />
		服务器: 阿里云 centOs6<br />
		开发程序:php thinkphp<br />
		项目代码:<br />

</blockquote>
    </div>
  </article>
<aside>
    <div class="avatar"><a href="about.html"><span>关于天启</span></a></div>
    <div class="topspaceinfo">
      <h1>健身改变自己,指尖改变世界</h1>
      <p>我变得更好,才能让身边的人更幸福......</p>
    </div>
    <div class="about_c">
      <p>网名：天启</p>
      <p>职业：求职php程序员ing </p>
      <p>籍贯：湖北省--武汉市</p>
      <p>学历：本科</p>
      <p>邮箱：183692566@qq.com</p>
    </div>
  </aside>
  <script src="{dede:global.cfg_templets_skin/}/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>



